<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Vitor. It uses data from <a href="https://www.mapbox.com/"
                target="_blank">mapbox</a> and <a href="https://weatherstack.com/" target="_blank">weatherstack</a>
            API's.</p>
        <img src="/img/me.jpg" alt="" class="portrait" />
    </div>
    {{>footer}}
</body>

</html>